@font-face {
    font-family: 'Gordita';
    src: local('Gordita-MediumItalic'),
        url('@/assets/fonts/Gordita-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-Bold'),
        url('@/assets/fonts/Gordita-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-BoldItalic'),
        url('@/assets/fonts/Gordita-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-BlackItalic'),
        url('@/assets/fonts/Gordita-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-Light'),
        url('@/assets/fonts/Gordita-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-Black'),
        url('@/assets/fonts/Gordita-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-Medium'),
        url('@/assets/fonts/Gordita-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-LightItalic'),
        url('@/assets/fonts/Gordita-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-RegularItalic'),
        url('@/assets/fonts/Gordita-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-ThinItalic'),
        url('@/assets/fonts/Gordita-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-Regular'),
        url('@/assets/fonts/Gordita-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: local('Gordita-Thin'),
        url('@/assets/fonts/Gordita-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

