@import './theme/colors/colors.scss';

.App {
  background-color: #333333;
  color: #ffffff;
  min-height: 100vh;
  height: 100%;
}

.logo {
  height: 128px;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
